/* 清除浏览器默认边距，让页面铺满全屏 */
html, body, #app {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden; /* 防止出现多余的滚动条 */
  font-family: 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB',
  'Microsoft YaHei', '微软雅黑', Arial, sans-serif;
}

/* 如果有用到链接，去掉默认下划线 */
a {
  text-decoration: none;
}